* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
  font-family: "IosevkaTerm Nerd Font", monospace;
  background-color: transparent;
  color: #000000;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces{
  background-color: #ffd5cd;
  padding: 0 15px;
  border-radius: 15px;
}
.workspaces button{
  padding: 0 10px;
}
.workspaces button:hover {
  background-color: white;
  color: #D35D6E;
}

