* {
  all: unset; //Unsets everything so you can style everything from scratch
}



$surface: #414559;
$focus: #e5c890;
$text: #c6d0f5;
$red: #e78284;
$bg: rgba(48, 52, 70, 0.5);

.bar {
  font-family: "IosevkaTerm Nerd Font", monospace;
  background-color: $bg;
  color: white;
  padding: 3px 0 4px 0;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces {
  background-color: $surface;
  color: $red;
  padding: 0 15px;
  border-radius: 18px;
}

.workspaces label {
  padding: 0 5px;
  font-size: 1.125rem;
}

.workspaces .active {
  color: $text;
}

.workspaces .focused {
  color: $focus;
}

.workspaces button:hover {
  background-color: white;
  color: #D35D6E;
}
