* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 1.125rem;
}

$surface: #414559;
$focus: #e5c890;
$text: #c6d0f5;
$red: #e78284;
$bg: rgba(48, 52, 70, 0.5);
$border: 15px;

.container {
  font-family: "IosevkaTerm Nerd Font", monospace;
  background-color: $bg;
  color: white;
  padding: 3px 10px 4px 10px;
}

.surface {
  background-color: $surface;
  padding: 0 15px;
  border-radius: $border;
}

.item{
  padding-right: 15px;
}

.launcher-box{
  border-radius: 20px;
}

.workspaces {
  background-color: $surface;
  color: $red;
  padding: 0 10px;
  border-radius: $border;
}

.workspaces label {
  padding: 0 5px;
}

.workspaces .active {
  color: $text;
}

.workspaces .focused {
  color: $focus;
}

.workspaces button:hover {
  background-color: white;
  color: #D35D6E;
}
